.login-form{

    display: flex;
    padding: 7.5ch;
    margin-bottom: auto;
    background: #a0a0a0;
    background: linear-gradient(135deg, rgba(151, 191, 239, 0.02), rgba(64, 122, 230, 0.03));
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1.5px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;
    text-align: center;

}

.titulo-login {

    display: flex;
    size: 100%
    
}

.login-imagen {

    display: flex;

}

